.pageMainContainer.search {
	
}

.pageMainContainer.search .mainContentHolder {
	top: 10px;
}

button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.close {
    color: #000;
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
    
    float: right;
}

.paneHolder {
    border-right-width: 0;
    bottom: 0;
    margin-right: 40px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.pane {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    margin:5px;
}

.ui-widget {
    font-size: 0.8em;
}


.pageMainContainer.search .side {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 359px;
	border-right: 1px solid lightblue;
	
}

.pageMainContainer.search .side > .inner{
	
}

.pageMainContainer.search .side > .inner .content {
	margin: 0 0 0 8px;
}


.pageMainContainer.search .side .searchControl .navTile.selected {
	color: black;
}

.pageMainContainer.search .searchControl > .titleBar {
	border-bottom: 1px solid lightblue;
	padding: 8px 0px;
	margin: 0 5px;
}

.pageMainContainer.search .searchControl > .titleBar .title{
	font-size:110%;
	text-align:center;
}

.pageMainContainer.search .searchControl .formContent {
	 margin-top: 5px;
}

.pageMainContainer.search .searchControl .formContent .appIdRow {
	margin: 2px 0 4px;
    padding: 5px;
    text-align: center;
    	
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#e0e2e4), to(#ffffff)); /* Safari 4-5, Chrome 1-9 */
	background: -webkit-radial-gradient(circle, #e0e2e4, #ffffff); /* Safari 5.1+, Chrome 10+ */
	background: -moz-radial-gradient(circle, #e0e2e4, #ffffff); /* Firefox 3.6+ */
	background: -ms-radial-gradient(circle, #e0e2e4, #ffffff); /* IE 10 */
}

.pageMainContainer.search .searchControl .formContent .appIdRow > span{
	padding: 0 4px;
}

.pageMainContainer.search .searchControl .formContent .appIdRow > span.title{
	
}

.pageMainContainer.search .searchControl .formContent .appIdRow > span.closeXBtn{
	vertical-align: middle;
}

.pageMainContainer.search .searchControl .formContent .appIdRow > span.closeXBtn > img{
	
}

.pageMainContainer.search .searchControl .searchParamsGroup > .groupTitle {
    background: none repeat scroll 0 0 #E1E1E1;
    padding: 3px 10px;
    
    -webkit-border-top-left-radius: 10px;
  	-webkit-border-bottom-left-radius: 10px;

  	-moz-border-radius-topleft: 10px;
  	-moz-border-radius-bottomleft: 10px;

  	border-top-left-radius: 10px;
  	border-bottom-left-radius: 10px;
}

.pageMainContainer.search .searchControl .searchParamsGroup > .groupContent {
    padding: 3px 8px 3px 15px;
}

.pageMainContainer.search .searchResultsPanel {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 360px;
	right: 0px;
}

.pageMainContainer.search .searchResultsPanel > .resultsHolder {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.pageMainContainer.search .searchResultsPanel > .promptHolder{
	color: lightgray;
    font-size: 140%;
    left: 45%;
    line-height: 40px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 35%;
}

.pageMainContainer.search .raw .wellItem.sResAppRaw {
	width: 450px;
	margin-bottom: 10px;
}

.pageMainContainer.search .raw .wellItem.sResAppRaw:last-child {
	margin-bottom: 0px;
}


.pageMainContainer.search .raw .wellItem.sResAppRaw > .titleRow{
	font-weight: bold;
    letter-spacing: 1px;
}

.raw .sResAppRaw > .titleRow a:link, .raw .sResAppRaw > .titleRow a:visited, .raw .sResAppRaw > .titleRow a:active {
	text-decoration: none;
	color: inherit;
}

.raw .sResAppRaw > .titleRow a:hover {
	text-decoration: underline;
	color: blue;
}

.pageMainContainer.search .raw .wellItem.sResAppRaw > .infoRow{
	padding-left:10px;
	font-size: 95%;
    font-style: italic;
}

.pageMainContainer.search .raw .wellItem.sResAppRaw > .infoRow > div{
	display: inline-block;
    vertical-align: top;
}

.pageMainContainer.search .raw .wellItem.sResAppRaw > .infoRow > .subInfo{
	width: 235px;
}

.pageMainContainer.search .raw .wellItem.sResAppRaw > .infoRow > .versInfo{
	width: 200px;	
	/*text-align: center;*/
}

.pageMainContainer.search .raw .wellItem.sResAppRaw  .controlsRow {
	
}

.pageMainContainer.search .raw .wellItem.sResAppRaw  .controlsRow > div{
	width: 200px;
	margin: auto;
	text-align: center;
	display: inline-block;
}

.pageMainContainer.search .resultsHolder > .titleBar {
	padding: 8px 0px;
	border-bottom: 1px solid lightblue;
    margin: 0 5px;	
}
.pageMainContainer.search .resultsHolder > .titleBar > div{
	display: inline-block;
}

.pageMainContainer.search .resultsHolder > .titleBar .title {
	font-size:110%;
	padding-left: 15px;
}

.pageMainContainer.search .resultsHolder > .titleBar .filters.optsMenu {
	height: 25px;
    margin: 3px 10px 2px 0px;
    vertical-align: middle;
    display: inline-block;
	
}

.pageMainContainer.search .resultsHolder > .titleBar .filters.optsMenu > .mnItem, .pageMainContainer.search .resultsHolder > .titleBar .filters.optsMenu > .mnTitle{
	display: inline-block;
	padding: 0px 4px;	
    
    -webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	border-radius: 10px;
}

.pageMainContainer.search .resultsHolder > .titleBar .filters.optsMenu > .mnItem:hover{
	background: none repeat scroll 0 0 #E1E1E1;
}

.pageMainContainer.search .resultsHolder > .titleBar .filters.optsMenu > .mnItem.selected{
	background: none repeat scroll 0 0 #B3B3B3;
}

.pageMainContainer.search .searchResultsPanel .resultsPool {
	padding: 0px 10px 20px 100px;
}

.pageMainContainer.search .searchResultsPanel .paginator {
	height: 19px;
	border-top: 1px solid lightblue;
	
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

