.pageMainContainer.deployment {
	
}


.pageMainContainer.deployment .frameHolder{
    bottom: 0;
    left: 0;
    position: absolute;
    top: 30px;
    width: 100%;
}

.pageMainContainer.deployment iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border:none;
}

.pageMainContainer.deployment .tabber .pagesContainer {
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: auto;
}

.pageMainContainer.deployment .connectionToolbar {
	font-style: italic;
    text-align: center;
    height: 30px
}

.pageMainContainer.deployment .connectionToolbar > .inner{
    padding: 5px 0;
}

.pageMainContainer.deployment .generatedReportsTabPage{
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


.pageMainContainer.deployment .topologyLayoutSideBar {
	bottom: 0;
    left: 0;
    position: absolute;
    width: 300;
    top: 0;
    padding: 0 10px 10px;
}

.pageMainContainer.deployment .appComponentList {	
	width: 270px;
	position: relative;
	min-height:300px;
}

.pageMainContainer.deployment .appComponentList > .header{
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
}

.pageMainContainer.deployment .appComponentList > .header > .inner{
	padding: 5px;
	padding-bottom: 4px;
	border-bottom: 1px solid rgba(247, 245, 245, 0.98);
	margint: 0px 5px;
}

.pageMainContainer.deployment .appComponentList > .header .title{
	height: 20px;
}

.pageMainContainer.deployment .appComponentList > .body{    
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 30px;	
}

.pageMainContainer.deployment .appComponentList > .body > .inner{
	padding: 5px 8px;
}

.pageMainContainer.deployment .analyticsReports {
	bottom: 0;
    left: 300px;
    position: absolute;
    right: 0;
    top: 0;
}


.pageMainContainer.deployment .analyticsReportHolder {
	bottom: 0px;    
    position: absolute;
    right: 0;
    top: 0;
    width:100%;
    left:0px;
    overflow-x: auto;
    white-space:nowrap;
    padding-bottom: 15px;
    padding-top: 5px;
}

.pageMainContainer.deployment .analyticsReportHolder > div{
	display: inline-block;
	vertical-align: middle; /* Since it is display: inline-block, we need this hack to remove parent y-overflow/scroll */
	*display: inline;/*For IE7*/
    *zoom:1;/*For IE7*/
}

.pageMainContainer.deployment .analyticsReportHolder > .singleReport {
	overflow-y: auto;
	height:100%;
	margin-right: 15px;
	min-width: 600px;
}

.pageMainContainer.deployment .analyticsReportHolder > .singleReport.expanded {
	height:100%;
	width: 100%;
	margin-right: 0px;
}

.pageMainContainer.deployment .analyticsReportHolder > .singleReport > .header .title{
	float: left;
}

.pageMainContainer.deployment .analyticsReportHolder > .singleReport > .header .controls{
	float:right
}


.pageMainContainer.deployment .analyticsReportHolder > .singleReport .body > .inner{
	
	overflow-x: hidden; /*temporary*/
	overflow-y: hidden; /*temporary*/
}


.test {
	overflow-y:scroll; 
	height: inherit;
}

.pageMainContainer.deployment .analyticsReportHolder > .singleReport .beanBox {
    font-size: 100%;
}

.pageMainContainer.deployment .analyticsReportHolder > .singleReport .beanBox .body{
    border:none;
}


.graphInfo > div {
	display:inline-block;
	text-align: center;
	font-style: italic;
}

.pageMainContainer.deployment .initTopologyExplorerTabPage {
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.pageMainContainer.deployment .initTopologyExplorerTabPage .timeControlBar {
	position: relative;
	height: 35px;
	margin-top: 2px;
}

.pageMainContainer.deployment .initTopologyExplorerTabPage .timeControlBar > div{
	top: 5px; /*Gives the impression of a top-padding equal to X px*/
}

.pageMainContainer.deployment .timeControlBar .promptWrapper {
    left: 10px;
    position: absolute;
}

.pageMainContainer.deployment .timeControlBar .sliderContainer {
	left: 130px;
    position: absolute;
    right: 70px;
}

/* Overide theme */
.pageMainContainer.deployment .timeControlBar .ui-rangeSlider {
    height: 30px;
    padding-top: 0px;
}

.pageMainContainer.deployment .timeControlBar .applyBtn{
	position: absolute;
    right: 10px;
}

.pageMainContainer.deployment .timeControlBar .applyBtn > .commons-controll{
	margin-top: 0px;
}

.pageMainContainer.deployment .initTopologyExplorerTabPage .timeRange {
	padding-bottom: 5px;
	text-align: center;
}

.pageMainContainer.deployment .initTopologyExplorerTabPage .topologyCanvasWrapper {
	
}

.pageMainContainer.deployment .topologyCanvasWrapper > .chart{
	width: 300px;
	height: 160px;
	position: absolute;
	
}

.pageMainContainer.deployment .initTopologyExplorerTabPage .topologyCanvas {
	position: relative;
	
	width:100%;
	height:100%;
}

.pageMainContainer.deployment .topologyCanvasWrapper .component {
	position:absolute;
	
	border: 1px solid black;	
	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	border-radius: 10px;
  	
  	-webkit-box-shadow: 10px 10px 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 7px -3px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 7px -3px rgba(0,0,0,0.75);
  	
  	background-color: white;
  	
  	width: 120px;
  	height: 200px;
  	
  	padding: 8px;
}

.pageMainContainer.deployment .topologyCanvas > .component:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.pageMainContainer.deployment .component  .assignedMetrics {
	
	
}

.pageMainContainer.deployment .component  .assignedMetrics .singleMetric {
	
}

.pageMainContainer.deployment .nodeInfoPanel {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 100%;
	left: 0px;
	z-index: 10;
	background-color: #FAFAFA;
	overflow: auto;
	border-top: 1px solid white;	
	box-shadow: 0px 0px 5px #CCC;
	-webkit-box-shadow: 0px 0px 5px #CCC;
	-moz-box-shadow: 0px 0px 5px #CCC;
	
	transition: right 0.5s;
	-moz-transition: right 0.5s;
	-webkit-transition: right 0.5s;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.pageMainContainer.deployment .nodeInfoPanel.open {
	border-left: 1px solid #CCC;
	right: 60%;
	transition: right 0.5s;
	-moz-transition: right 0.5s;
	-webkit-transition: right 0.5s;
}

.pageMainContainer.deployment .nodeInfoPanel .panelControlBar {
	height: 25px;
	padding: 2px 5px;
}

.pageMainContainer.deployment .nodeInfoPanel .panelControlBar > .inner {
	float: right;
}

.pageMainContainer.deployment .nodeInfoPanel .panelControlBar .panelCBarItem{
	 display: inline-block;
}

.pageMainContainer.deployment .nodeInfoPanel .panelControlBar .panelCBarItem > .commons-controll{
	 margin-top: 0px;
	 margin-bottom: 0px;
	 height: 10px;
}

.pageMainContainer.deployment .metricsSelectorWrapper {
	position: relative;
	width: 100%;
}

.pageMainContainer.deployment .metricsListWrapper {
	float: left;
	width: 50%
}

.pageMainContainer.deployment .metricsListWrapper > .inner{
	padding: 0px 10px;
}

.pageMainContainer.deployment .metricsListWrapper .header > .title {
	
}

.pageMainContainer.deployment .nodeInfoPanel .nodeMetric {
	
}

.pageMainContainer.deployment .metricsSelectorWrapper .selectList.metricsList {
	width: 100%;
}
















