.pageMainContainer.compare {
	
}

.pageMainContainer.compare > .objectSelectorWrapper {
	height: 100px;
	background-color: lightgrey;
}

.pageMainContainer.compare .objectSelectorWrapper > .inner {
	padding: 8px 2px;
	border-bottom: 2px solid grey;
	height: 82px;
}

.pageMainContainer.compare .objectSelectorWrapper .inner > div {
	
}

.pageMainContainer.compare .comparissonRibbon .ribbonItem {	
	height: 70px;	
}

.pageMainContainer.compare .objectSelectorWrapper .controlWrapper {
	float: right;
	width: 100px;
	margin: auto;
	/*border: 1px solid gray;*/
}

.pageMainContainer.compare .objectSelectorWrapper .controlWrapper > .controll {
    height: 26px;
    margin: 5px;
}

.pageMainContainer.compare .comparissonRibbon .well {
	height: 80px;
    margin: auto;    
	float: left;
	
	white-space: nowrap;
}

.pageMainContainer.compare .comparissonRibbon .wellContentHolder > .wellItem {
	min-width : 200px;
	display: inline-block;
}

.pageMainContainer.compare .comparissonRibbon .wellItem > .inner {
	border: 1px solid black;
	margin: 0px 5px;
	padding: 5px;
}

.pageMainContainer.compare .comparissonRibbon .compItemHead {
	text-align: center;
	font-weight: bold;
}

.pageMainContainer.compare .comparissonRibbon .compItemMain {
	margin-top: 10px;
}

.pageMainContainer.compare .comparissonRibbon .compItemFooter {
	
}

.pageMainContainer.compare .contentMainHolder {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 100px;
    overflow-y: auto;
}

.pageMainContainer.compare.navOn .innerNavMenu {
    top: 100px;
}

.pageMainContainer.compare.navOn .contentMainHolder {
	top: 140px;
}

.pageMainContainer.compare .contentMainHolder .tabberPagesWhapper, .pageMainContainer.compare .contentMainHolder .tabberPagesWhapper > .tabberPage {
	width:100%;
	height:100%;
}

.pageMainContainer.compare .comparissonContent {
    height: 100%;
    position: relative;
    width: 100%;
}

.pageMainContainer.compare .comparissonContent .toolbar {
	height: 30px;
}

.pageMainContainer.compare .toolbar > .controll {
	height: 10px;
	float: right;
	
	background-color: lightgray;
	border: 3px solid gray;
	
	margin: 5px;
	padding: 2px;
	
	align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;	
    cursor:pointer;
}

.pageMainContainer.compare .toolbar > .controll:hover {
	border-color: darkgray;
}

.pageMainContainer.compare .toolbar > .controll.actGo {
	border-color: green;
	background-color: lightgreen;
}

.pageMainContainer.compare .toolbar > .controll.actGo:hover {
	border-color: darkgreen;
}

.pageMainContainer.compare .toolbar > .controll.disabled {
	border-color: gray;
	background-color: lightgray;
}

.pageMainContainer.compare .toolbar > .controll.disabled:hover {
	border-color: gray;
}


.pageMainContainer.compare .comparissonContent .sidebar {
	position: relative;
	width: 200px;
	
	border-right: 1px solid rgba(235, 235, 235, 0.98);	
}


.pageMainContainer.compare .comparissonContent .chartAreaOuterWrapper {
	position: absolute;
	left: 201px;
	top: 0;
	bottom: 0;
	right: 0px;
}

.pageMainContainer.compare .comparissonContent .chartAreaOuterWrapper .chartContentToolbar {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;	
	border-bottom: 1px solid rgba(235, 235, 235, 0.98);
}

.pageMainContainer.compare .comparissonContent .chartAreaOuterWrapper .chartArea {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 31px;
	bottom: 0px;
}

.pageMainContainer.compare .comparissonContent .chartArea .chartContentWrapper {
	bottom: 0px;
    left: 208px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.pageMainContainer.compare .comparissonContent .chartContentWrapper > .chartContentHolder {
	width:100%;
	height:100%;
}

.pageMainContainer.compare .comparissonContent .chartContentWrapper > .chartContentSummary {
	/*TODO: To be Added*/
}

/*
* Version Components Side Bar
*/
.pageMainContainer.compare .comparissonContent .componentSelectionBar {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
}

.pageMainContainer.compare .componentSelectionBar {
}

.pageMainContainer.compare .componentSelectionBar .versionComponent {
	margin-bottom: 5px;
	margin-left: 3px;
} 

.pageMainContainer.compare .componentSelectionBar .versionComponent .versionItemHead {
	cursor: pointer;	    
}


.pageMainContainer.compare .componentSelectionBar .versionComponent .versionItemMain {
	border-top: 1px solid rgba(235, 235, 235, 0.98);
	padding-left: 7px;
}

.pageMainContainer.compare .componentSelectionBar .versionComponent .singleComponent {
	cursor: pointer;
	padding-left: 3px;
}

.pageMainContainer.compare .componentSelectionBar .versionComponent .singleComponent.selected {
	background-color: lightgray;
}

.pageMainContainer.compare .componentSelectionBar .versionComponent .singleComponent:hover {
	
}

/*
* Combined Metrics bar
*/

.pageMainContainer.compare .comparissonContent .metricsSelectionBar {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	padding-left: 7px;
}

.pageMainContainer.compare .comparissonContent .metricsSelectionBar .singleMetric {
	cursor: pointer;
	padding-left: 3px;
}

.pageMainContainer.compare .comparissonContent .metricsSelectionBar .singleMetric:hover {
	border-color: black;
}

.pageMainContainer.compare .comparissonContent .metricsSelectionBar .singleMetric.selected {
	border-color: gray;
	background-color: lightgray;
}



/*
* Inner popup rules, for displaying user application list
*/
.appSelectorPopUp .applicationSelectionBar {
	
}

.appSelectorPopUp .applicationSelectionBar .application {
	cursor: pointer;
	border: 1px solid inherit;
}

.appSelectorPopUp .applicationSelectionBar .application:hover {
	border-color: black;
}

.appSelectorPopUp .applicationSelectionBar .application.selected {
	border-color: gray;
	background-color: gray;
}


/* -------------------------------- 

xpopup 

-------------------------------- */

.cd-popup *
{
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}



.cd-popup a {
  color: #35a785;
  text-decoration: none;
}

.cd-popup ol, ul {
    list-style: outside none none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-popup .img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}