.contentBoxHolder {
	background: white;
	padding: 10px;
}

.contentBox {
	min-height: 200px;
	min-width: 200px;
	position: relative;
	border: 1px solid black;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.contentBox > .header{
	background: none repeat scroll 0 0 lightgray;
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
}

.contentBox > .header > .inner{
	padding: 5px;
}

.contentBox > .header .title{
	height: 20px;
}

.contentBox.disposable > .header > .inner{
	
}

.contentBox.disposable > .header .title{
	
}

.contentBox.disposable > .header .closeBtn{
	
}


.contentBox > .body{
	background: none repeat scroll 0 0 white;
    border-top: 1px solid black;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 30px;	
}

.contentBox > .body > .inner{
	padding: 5px 8px;
}