.page .commons-controll {
	background-color: lightgray;
	border: 3px solid gray;
	
	margin: 5px;
	padding: 2px;
	
	align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;	
    cursor:pointer;
}

.page .commons-controll:hover {	
	border-color: darkgray;
}

.page .commons-controll.positive {
	border-color: green;
	background-color: lightgreen;
}

.page .commons-controll.positive:hover {
	border-color: darkgreen;
}

.page .commons-controll.negative {
	border-color: red;
	background-color: lightcoral;
}

.page .commons-controll.negative:hover {
	border-color: darkred;
}




.page .commons-controll.disabled {
	border-color: gray;
	background-color: lightgray;
}

.page .commons-controll.disabled:hover {
	border-color: gray;
}
